/* FOOTER */
.footer { clear: both; margin: 0 auto; min-width: $contents-min-width; background-color: #111;
	> .inner { padding: 27px 100px; font-size: 14px; color: #888; line-height: 24px;
		small { display: block; margin-top: 5px; }
	}
}


/* CONTENTS */
article.contents { box-sizing: border-box; margin: 0 auto; padding: 100px; min-width: $contents-min-width - 200; max-width: $contents-max-width - 200;
}


.header { position: relative; overflow: hidden; margin: 0 auto; max-width: $contents-max-width; min-width: $contents-min-width;
	.btn-lg-signature { display: block; position: absolute; top: 40px; left: 50px; z-index: z("default"); text-indent: -9999px; @include sprite($sd-signature); }
}

body.main { 
	.header { 
		
		figure { display: block; position: relative; box-sizing: border-box; padding-right: 360px; width: 100%;
			figcaption { display: block; position: absolute; top: 0; right: 0; bottom: 0; height: 100%; width: 360px; background-color: #191919; }
		}

		.photo { display: block; position: relative; width: 100%;
			img { width: 100%; }
			
			.title { display: block; position: absolute; top: 50%; left: 50%; margin-top: -$sd-txt-title01-height / 2; margin-left: -$sd-txt-title01-width / 2; @include sprite($sd-txt-title01); text-indent: -9999px;
				small { display: none; }
			}
		}

		.nav { height: 100%;
			.list-menus { display: block; position: absolute; bottom: 0; right: 0; left: 0; padding: 0 20px; /* border-top: 1px solid #050505; */
				> li { border-top: 1px solid #3b3b3b; border-bottom: 1px solid #050505;
					&.top { border-top: 0px; padding: 0 0 40px 10px; font-size: 16px; color: #fff; line-height: 24px;
						span { display: block; text-indent: -9999px; @include sprite($sd-txt-desc01); }
						small { display: none; font-size: 12px; line-height: 18px; }
					}
					
					&.last { border-bottom: 0px; }
					&.none { border: 0px; }

					a { display: block; position: relative; padding: 20px 0 20px 15px; min-height: 70px; font-size: 16px; color: #bbb; line-height: 29px;
						&:before { content: ''; display: block; position: absolute; top: 10px; left: 15px; height: 80px; width: 80px; background-color: 100%; }

						p { font-size: 12px; color: #777; }

						&.event { padding: 0 0 15px 15px; height: 200px; text-align: left; text-indent: -9999px; 
							&:before { content: ''; position: static; height: 200px; width: 290px; background: url('/assets/images/event_banner.png') left top no-repeat; }
						}
						&.gallery {
							div { text-indent: -9999px; @include sprite($sd-bg-nav02); }
						}
						&.episode {
							div { text-indent: -9999px; @include sprite($sd-bg-nav03); }
						}
					}
				}
/*
				@include max-desktop() {
					> li { border-top: 1px solid #3b3b3b; border-bottom: 1px solid #050505;
						&.top { border-top: 0px; padding: 0 0 23px 15px; font-size: 18px; line-height: 28px; letter-spacing: -0.05em;
							small { font-size: 14px; line-height: 25px; }
						}

						a { padding: 15px 0 20px 15px;
							&:before { top: 20px; }
						}
					}
				}
*/
			}
		}
	}


	.grid { overflow: hidden; margin: 0 -0.310559006211%;

		.grid-item { display: block; position: relative; float: left; margin: 0.310559006211%; width: 21.739130434783%;
			.content { display: block; }

			img { max-height: 100%; max-width: 100%; }

			&.line-breaker { clear: both; }
			&.category { color: #fff; text-align: center; background-position: center center; background-size: 100%;
				.content {
					.title { display: block; position: absolute; top: 50%; margin-top: -14px; width: 100%; font-size: 22px; color: #fff; text-align: center; line-height: 1.3em; transition: font-size 0.3s;
						small { font-size: 14px; line-height: 1.3em; transition: font-size 0.3s; }

						@include max-desktop() { margin-top: -17px; font-size: 26px; transition: font-size 0.3s;
							small { font-size: 18px; transition: font-size 0.3s; }
						}
					}
				}
			}

			.content { 
				.inner {  }
				&.aspect-620 { @include aspect-ratio(620, 350); }
				&.aspect-610 { @include aspect-ratio(610, 350); }
				&.aspect-590 { @include aspect-ratio(590, 350); }
				&.aspect-500 { @include aspect-ratio(500, 350); }
				&.aspect-500-300 { @include aspect-ratio(500, 300); }
				&.aspect-490 { @include aspect-ratio(490, 350); }
				&.aspect-490-300 { @include aspect-ratio(490, 300); }
				&.aspect-480 { @include aspect-ratio(480, 350); }
				&.aspect-480-300 { @include aspect-ratio(480, 300); }
				&.aspect-470 { @include aspect-ratio(470, 350); }
				&.aspect-470-300 { @include aspect-ratio(470, 300); }
				&.aspect-430 { @include aspect-ratio(430, 350); }
				&.aspect-430-300 { @include aspect-ratio(430, 300); }
				&.aspect-400 { @include aspect-ratio(400, 350); }
				&.aspect-350 { @include aspect-ratio(350, 350); }
				&.aspect-350-300 { @include aspect-ratio(350, 300); }
				&.aspect-310 { @include aspect-ratio(310, 350); }
				&.aspect-310-300 { @include aspect-ratio(310, 300); }
				&.aspect-300 { @include aspect-ratio(300, 350); }
				&.aspect-300-300 { @include aspect-ratio(300, 300); }
				&.aspect-280 { @include aspect-ratio(280, 350); }
				&.aspect-280-300 { @include aspect-ratio(280, 300); }
				&.aspect-270 { @include aspect-ratio(270, 350); }
				&.aspect-270-300 { @include aspect-ratio(270, 300); }
			}

			.txt {
				&:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default"); background-color: #000;
					opacity: 0; transition: opacity 0.5s ease-in-out;
				}

				p { display: block; position: absolute; top: 50%; right: 0; left: 0; z-index: z("default") + 1; margin-top: -35px; font-size: 20px; color: #fff; text-align: center; line-height: 33px;
					opacity: 0; transition: opacity 0.3s ease-in-out;
					small { font-size: 12px; }
				}

				@include max-desktop() {
					p { font-size: 24px; line-height: 33px;
						small { font-size: 16px; }
					}
				}
			}

			&:hover {
				.txt { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
					&:before { content: ''; opacity: 0.8;
						transition: opacity 0.5s ease-in-out;
					}
					
					p { opacity: 1; transition: opacity 0.3s ease-in-out; }
				}
			}

		}

	}
}


body.view { 
	.header { overflow: visible;
		figure { display: block; position: relative; box-sizing: border-box; padding-right: 360px; width: 100%;
			figcaption { display: block; position: absolute; top: 0; right: 0; bottom: 0; height: 100%; width: 360px; background-color: #191919; }
		}

		.photo { display: block; position: relative; width: 100%; text-align: center; background-size: cover;
			.photo-inner { position: relative; }
			img { display: inline-block; max-height: 100%; max-width: 100%; }
			.btn-external-link { display: block; position: absolute; z-index: z("default"); text-indent: -9999px; background: url('/assets/images/transparent.png') left top no-repeat; }
		}

		.detail { text-align: center;
			.inner { display: block; position: absolute; bottom: 0; right: 0; left: 0; padding: 0 20px; }

			.index { display: block; margin: 0 auto; font-family: 'Abel', san-serif; font-size: 70px; color: #fff; line-height: 1.3em; }
			.title { margin-top: 14px; font-size: 17px; color: #ffffff; line-height: 22px; }
			.hash { display: block; margin-top: 20px; border-top: 1px solid #080808; border-bottom: 1px solid #474747;
				dt { display: none; padding: 21px 0 11px 0; font-size: 15px; color: #ffffff; border-top: 1px solid #474747; line-height: 1.3em; }
				dd { display: block; padding: 21px 15px 28px 15px; font-size: 10px; color: #919191; line-heightt: 17px; text-align: left; word-breka: keep-all;
					.like { display: block; margin: 25px auto 0; font-size: 11px; color: #ffffff; text-align: center;;
						&:before { content: ''; display: inline-block; margin-right: 10px; vertical-align: middle; @include sprite($sd-icon-like); }
					}
				}
			}
			.btns { padding-top: 28px; padding-bottom: 50px;
				.btn-prev { display: inline-block; margin: 0 3px; text-indent: -9999px; @include sprite($sd-btn-prev); }
				span.btn-prev { @include sprite($sd-btn-prev-disabled); }
				.btn-next { display: inline-block; margin: 0 3px; text-indent: -9999px; @include sprite($sd-btn-next); }
				span.btn-next { @include sprite($sd-btn-next-disabled); }
				.btn-main { display: inline-block; margin-left: 10px; text-indent: -9999px; @include sprite($sd-btn-main); }
			}


			@include max-desktop() {
				.inner { }
				.index { font-size: 100px; }
				.title { margin-top: 20px; font-size: 24px; line-height: 32px; }
				.hash { margin-top: 28px;
					dt { padding: 30px 0 15px 0; font-size: 22px; }
					dd { padding: 30px 15px 40px 15px; font-size: 14px; line-heightt: 24px;
						.like { margin-top: 35px; font-size: 16px; }
					}
				}
				.btns { padding-top: 40px; padding-bottom: 50px; }
			}
		}

		.about-link { position: absolute; bottom: -30px; right: 360px; font-size: 16px; color: #666; text-align: right; }
	}


	.contents { width: 1200px;
		.message { text-align: center;
			.title { font-size: 48px; color: #000; line-height: 1.3em;}
			.hash { margin-top: 10px; font-size: 24px; color: #000; line-height: 1.3em;
				em { display: block; margin-top: 5px; font-size: 18px; color: #d3230c; }
			}
		}

		.tictalk { margin-top: 33px; padding: 35px 50px; border: 45px solid #484848; background-color: #fff; }
	}

}


.popup-application { margin: 0 auto; padding: 70px 40px 100px 40px; min-width: 1120px; width: 1120px; color: #fff; background-color: #3a3a3a;
	.title { font-size: 30px; font-weight: normal; line-height: 1em; text-align: center; }

	.basic-info { margin-top: 50px; padding: 40px; font-size: 16px; color: #fff; text-align: center; background-color: #343332;
		label { padding-right: 30px;
			&.txt-phone { margin-left: 260px; }
		}
		input[type=text] { height: 36px; width: 128px; font-size: 16px; color: #000; line-height: 36px; vertical-align: middle; text-align: center; border: 0px; border-radius: 3px; background-color: #fff; }
	}

	.agreements {
		.txt-agreement { display: block; margin-top: 50px; font-size: 22px; color: #fff; }
		.list-agreement { margin-top: 20px; width: 100%; border-top: 1px solid #2c2b2a; border-right: 1px soli #2c2b2a; border-left: 1px solid #2c2b2a;
			tr { border-bottom: 1px solid #2c2b2a; }
			th { width: 258px; font-size: 16px; font-weight: normal; color: #fff; text-align: center; line-height: 45px; background-color: #373635; }
			td { padding-left: 30px; font-size: 16px; color: #c4c4c4; background-color: #494949; }
		}
		.message { margin-top: 15px; font-size: 14px; color: #c4c4c4; }

		.radios { margin-top: 25px; padding: 0 25px 0 0; text-align: right; background-color: #353535;
			input[type=radio] { display: inline-block; vertical-align: middle;
				+ label { display: inline-block; padding: 0 15px 0 5px; font-size: 14px; color: #fff; line-height: 50px; }
			}
		}
	}

	.btn-application { display: block; margin: 50px auto 0; height: 60px; width: 230px; font-size: 22px; color: #fff; text-align: center; line-height: 60px; background-color: #e64f3c; }
	.mfp-close { display: block; position: absolute; top: 0; left: 50%; margin-left: 630px; text-indent: -9999px; @include sprite($sd-btn-close); }
}



// 컨텐츠 팝업
.mfp-wrap { overflow-x: auto !important; }
.popup { box-sizing: border-box; margin: 0 auto; height: 100%; width: 1200px;
	.mfp-close { display: block; position: absolute; top: 90px; left: 50%; margin-left: 420px; text-indent: -9999px; @include sprite($sd-btn-close); }

	// 이벤트 소개
	&.event {
		.mfp-close { top: 10px; margin-left: 610px; }

		.content { position: relative; margin: 0 auto; height: 1007px; width: 1200px; background: url('/assets/images/popup02.png') center top no-repeat;
			* { display: none; }
			.btn-submit { display: block; position: absolute; bottom: 70px; left: 50%; margin-left: -135px; width: 270px; }
		}

		.guide { overflow: hidden; padding: 35px 50px; background-color: #1e1e1e;
			.title { margin-bottom: 30px; font-size: 24px; font-weight: normal; color: #c9c9c9; line-height: 1.3em; }
			.list-guide { float: left; width: 500px; 
				> li { position: relative; padding: 0 0 0 10px; font-size: 14px; color: #888; line-height: 25px;
					&:before { content: '-'; display: block; position: absolute; top: 0; left: 0; }
				}

				+ .list-guide { margin-left: 40px; width: 520px; }
			}
		}
	}


	// 사진전 소개
	&.intro { padding-top: 90px; padding-bottom: 90px; background: url('/assets/images/bg_popup01.jpg') center top no-repeat;
		.content { margin: 0 auto; height: 1735px; width: 820px; background: url('/assets/images/popup01.png') center top no-repeat;
			h2, p, .photographer { display: none; }
		}
	}

	// 에피소드
	&.episode {
		.mfp-close { top: 10px; margin-left: 610px; }

		.content {
			* { display: none; }
			.episode-content { display: block; padding: 60px 60px 85px 60px; background-color: #3a3a3a;
				.list-episode { display: block; height: 2470px; width: 1080px; background: url('/assets/images/popup04.png') center top no-repeat; }
			}

			.btn-submit { display: block; }
		}
	}

	.btn-submit { display: block; margin: 50px auto 0; width: 270px; font-size: 20px; color: #ffffff; line-height: 70px; text-align: center; background-color: #e64f3c; }
}





/* event summary */
.event-summary { box-sizing: border-box; position: absolute; bottom: 0; right: 360px; padding: 51px 20px 0 20px; height: 638px; width: 500px; background-color: rgba(0, 0, 0, 0.9);
	.contents { background-color: #545454;
		.btn-close { display: block; position: absolute; top: 10px; right: 20px; text-indent: -9999px; @include sprite($sd-btn-close); }

		.inner-contents { height: 528px; width: 460px; background-position: left top; background-repeat: no-repeat;
			* { display: none; }
		}
		.do-not-open { padding: 0 16px; height: 40px; 
			input[type=checkbox] { display: inline-block; vertical-align: middle; }
			label { font-size: 15px; color: #ffffff; line-height: 40px; vertical-align: middle; }
		}
	}
}



