.header { position: relative; overflow: hidden; margin: 0 auto; min-width: $contents-min-width; height: 960px;
	.btn-lg-signature { display: block; position: absolute; top: 40px; left: 50px; z-index: z("default"); text-indent: -9999px; @include sprite($sd-signature); }
}

body.main { 
	.header { 

		.title-container { position: relative; height: 100%; margin-right: 360px; background: url('/assets/images/main_header.jpg') center center no-repeat; background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/main_header.jpg', sizingMethod='scale');

			.title { display: block; position: absolute; top: 50%; margin-top: -96px; height: 192px; width: 100%; font-size: 70px; color: #fffffe; line-height: 1em; text-align: center;
				small { font-size: 36px; }
			}
		}

		.nav { float: left; position: absolute; top: 0; right: 0; bottom: 0; height: 100%; width: 360px; background-color: #191919;
			.list-menus { display: block; position: absolute; bottom: 0; right: 0; left: 0; padding: 0 20px; /* border-top: 1px solid #050505; */
				> li { border-top: 1px solid #3b3b3b; border-bottom: 1px solid #050505;
					a { display: block; position: relative; padding: 30px 0 20px 120px; min-height: 70px; font-size: 16px; color: #bbb; line-height: 29px;
						&:before { content: ''; display: block; position: absolute; top: 20px; left: 15px; height: 80px; width: 80px; background-color: 100%; }

						p { font-size: 12px; color: #777; }

						&.event {
							&:before { @include sprite($sd-bg-nav01); }
						}
						&.gallery {
							&:before { @include sprite($sd-bg-nav02); }
						}
						&.episode {
							&:before { @include sprite($sd-bg-nav03); }
						}
					}
				}
			}
		}
	}


	.grid { overflow: hidden; margin: 0 -0.310559006211%;

		.grid-item { display: block; float: left; margin: 0.310559006211%; width: 21.739130434783%;
			.content { display: block; }

			&.line-breaker { clear: both; }
			&.category { color: #fff; text-align: center; background-position: center center; background-size: 100%;
				.content {
					.title { display: block; position: absolute; top: 50%; margin-top: -40px; width: 100%; font-size: 26px; color: #fff; text-align: center; line-height: 1.3em; transition: font-size 0.3s;
						small { font-size: 18px; line-height: 1.3em; transition: font-size 0.3s; }

						@include max-desktop() { font-size: 30px; transition: font-size 0.3s;
							small { font-size: 22px; transition: font-size 0.3s; }
						}
					}
				}
			}

			.content { 
				.inner {  }

				&.aspect-620 { @include aspect-ratio(620, 350); }
				&.aspect-610 { @include aspect-ratio(610, 350); }
				&.aspect-590 { @include aspect-ratio(590, 350); }
				&.aspect-500 { @include aspect-ratio(500, 350); }
				&.aspect-500-300 { @include aspect-ratio(500, 300); }
				&.aspect-490 { @include aspect-ratio(490, 350); }
				&.aspect-490-300 { @include aspect-ratio(490, 300); }
				&.aspect-480 { @include aspect-ratio(480, 350); }
				&.aspect-480-300 { @include aspect-ratio(480, 300); }
				&.aspect-470 { @include aspect-ratio(470, 350); }
				&.aspect-470-300 { @include aspect-ratio(470, 300); }
				&.aspect-430 { @include aspect-ratio(430, 350); }
				&.aspect-430-300 { @include aspect-ratio(430, 300); }
				&.aspect-400 { @include aspect-ratio(400, 350); }
				&.aspect-350 { @include aspect-ratio(350, 350); }
				&.aspect-350-300 { @include aspect-ratio(350, 300); }
				&.aspect-310 { @include aspect-ratio(310, 350); }
				&.aspect-310-300 { @include aspect-ratio(310, 300); }
				&.aspect-300 { @include aspect-ratio(300, 350); }
				&.aspect-300-300 { @include aspect-ratio(300, 300); }
				&.aspect-280 { @include aspect-ratio(280, 350); }
				&.aspect-280-300 { @include aspect-ratio(280, 300); }
				&.aspect-270 { @include aspect-ratio(270, 350); }
				&.aspect-270-300 { @include aspect-ratio(270, 300); }


			}

		}

	}
}


body.view { 
	.header { 
		figure { height: 100%; width: 100%; }

		.photo { position: relative; height: 100%; margin-right: 360px; background: url('/assets/images/view_header.jpg') center center no-repeat; background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/view_header.jpg', sizingMethod='scale');
			
			img { display: none; }
		}

		.detail { float: left; position: absolute; top: 0; right: 0; bottom: 0; height: 100%; width: 360px; text-align: center; background-color: #191919;
			.inner { display: block; position: absolute; bottom: 0; right: 0; left: 0; padding: 0 20px; }

			.index { display: block; margin: 0 auto; font-family: 'Abel', san-serif; font-size: 100px; color: #fff; line-height: 1.3em; }
			.title { margin-top: 20px; font-size: 24px; color: #ffffff; line-height: 32px; }
			.hash { display: block; margin-top: 28px; border-top: 1px solid #080808; border-bottom: 1px solid #474747;
				dt { display: block; padding: 30px 0 15px 0; font-size: 22px; color: #ffffff; border-top: 1px solid #474747; line-height: 1.3em; }
				dd { display: block; padding: 0 0 40px 0; font-size: 14px; color: #919191; line-heightt: 24px;
					.like { display: inline-block; margin-top: 35px; font-size: 16px; color: #ffffff;
						&:before { content: ''; display: inline-block; margin-right: 10px; vertical-align: middle; @include sprite($sd-icon-like); }
					}
				}
			}
			.btns { padding-top: 40px; padding-bottom: 50px;
				.btn-main { display: inline-block; text-indent: -9999px; @include sprite($sd-btn-main); }
			}
		}
	}


	.contents {
		.message { text-align: center;
			.title { font-size: 48px; color: #000; line-height: 1.3em;}
			.hash { margin-top: 10px; font-size: 24px; color: #000; line-height: 1.3em;
				em { display: block; margin-top: 5px; font-size: 18px; color: #d3230c; }
			}
		}

		.tictalk { margin-top: 33px; border: 45px solid #484848; background-color: #fff; }
	}

}