/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-bg-nav01-name: 'sm-bg_nav01';
$sm-bg-nav01-x: 0px;
$sm-bg-nav01-y: 50px;
$sm-bg-nav01-offset-x: 0px;
$sm-bg-nav01-offset-y: -50px;
$sm-bg-nav01-width: 40px;
$sm-bg-nav01-height: 40px;
$sm-bg-nav01-total-width: 140px;
$sm-bg-nav01-total-height: 136px;
$sm-bg-nav01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-bg-nav01: (0px, 50px, 0px, -50px, 40px, 40px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-bg_nav01', );
$sm-bg-nav02-name: 'sm-bg_nav02';
$sm-bg-nav02-x: 100px;
$sm-bg-nav02-y: 0px;
$sm-bg-nav02-offset-x: -100px;
$sm-bg-nav02-offset-y: 0px;
$sm-bg-nav02-width: 40px;
$sm-bg-nav02-height: 40px;
$sm-bg-nav02-total-width: 140px;
$sm-bg-nav02-total-height: 136px;
$sm-bg-nav02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-bg-nav02: (100px, 0px, -100px, 0px, 40px, 40px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-bg_nav02', );
$sm-bg-nav03-name: 'sm-bg_nav03';
$sm-bg-nav03-x: 46px;
$sm-bg-nav03-y: 50px;
$sm-bg-nav03-offset-x: -46px;
$sm-bg-nav03-offset-y: -50px;
$sm-bg-nav03-width: 40px;
$sm-bg-nav03-height: 40px;
$sm-bg-nav03-total-width: 140px;
$sm-bg-nav03-total-height: 136px;
$sm-bg-nav03-image: '/assets/images/mobile/sprites_mobile.png';
$sm-bg-nav03: (46px, 50px, -46px, -50px, 40px, 40px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-bg_nav03', );
$sm-btn-back-name: 'sm-btn_back';
$sm-btn-back-x: 0px;
$sm-btn-back-y: 0px;
$sm-btn-back-offset-x: 0px;
$sm-btn-back-offset-y: 0px;
$sm-btn-back-width: 44px;
$sm-btn-back-height: 44px;
$sm-btn-back-total-width: 140px;
$sm-btn-back-total-height: 136px;
$sm-btn-back-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-back: (0px, 0px, 0px, 0px, 44px, 44px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_back', );
$sm-btn-close-name: 'sm-btn_close';
$sm-btn-close-x: 50px;
$sm-btn-close-y: 0px;
$sm-btn-close-offset-x: -50px;
$sm-btn-close-offset-y: 0px;
$sm-btn-close-width: 44px;
$sm-btn-close-height: 44px;
$sm-btn-close-total-width: 140px;
$sm-btn-close-total-height: 136px;
$sm-btn-close-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-close: (50px, 0px, -50px, 0px, 44px, 44px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_close', );
$sm-btn-next-name: 'sm-btn_next';
$sm-btn-next-x: 60px;
$sm-btn-next-y: 112px;
$sm-btn-next-offset-x: -60px;
$sm-btn-next-offset-y: -112px;
$sm-btn-next-width: 24px;
$sm-btn-next-height: 24px;
$sm-btn-next-total-width: 140px;
$sm-btn-next-total-height: 136px;
$sm-btn-next-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-next: (60px, 112px, -60px, -112px, 24px, 24px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_next', );
$sm-btn-next-disabled-name: 'sm-btn_next_disabled';
$sm-btn-next-disabled-x: 90px;
$sm-btn-next-disabled-y: 112px;
$sm-btn-next-disabled-offset-x: -90px;
$sm-btn-next-disabled-offset-y: -112px;
$sm-btn-next-disabled-width: 24px;
$sm-btn-next-disabled-height: 24px;
$sm-btn-next-disabled-total-width: 140px;
$sm-btn-next-disabled-total-height: 136px;
$sm-btn-next-disabled-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-next-disabled: (90px, 112px, -90px, -112px, 24px, 24px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_next_disabled', );
$sm-btn-prev-name: 'sm-btn_prev';
$sm-btn-prev-x: 0px;
$sm-btn-prev-y: 112px;
$sm-btn-prev-offset-x: 0px;
$sm-btn-prev-offset-y: -112px;
$sm-btn-prev-width: 24px;
$sm-btn-prev-height: 24px;
$sm-btn-prev-total-width: 140px;
$sm-btn-prev-total-height: 136px;
$sm-btn-prev-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-prev: (0px, 112px, 0px, -112px, 24px, 24px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_prev', );
$sm-btn-prev-disabled-name: 'sm-btn_prev_disabled';
$sm-btn-prev-disabled-x: 30px;
$sm-btn-prev-disabled-y: 112px;
$sm-btn-prev-disabled-offset-x: -30px;
$sm-btn-prev-disabled-offset-y: -112px;
$sm-btn-prev-disabled-width: 24px;
$sm-btn-prev-disabled-height: 24px;
$sm-btn-prev-disabled-total-width: 140px;
$sm-btn-prev-disabled-total-height: 136px;
$sm-btn-prev-disabled-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-prev-disabled: (30px, 112px, -30px, -112px, 24px, 24px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_prev_disabled', );
$sm-btn-top-name: 'sm-btn_top';
$sm-btn-top-x: 100px;
$sm-btn-top-y: 46px;
$sm-btn-top-offset-x: -100px;
$sm-btn-top-offset-y: -46px;
$sm-btn-top-width: 34px;
$sm-btn-top-height: 34px;
$sm-btn-top-total-width: 140px;
$sm-btn-top-total-height: 136px;
$sm-btn-top-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-top: (100px, 46px, -100px, -46px, 34px, 34px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_top', );
$sm-icon-like-name: 'sm-icon_like';
$sm-icon-like-x: 120px;
$sm-icon-like-y: 112px;
$sm-icon-like-offset-x: -120px;
$sm-icon-like-offset-y: -112px;
$sm-icon-like-width: 12px;
$sm-icon-like-height: 11px;
$sm-icon-like-total-width: 140px;
$sm-icon-like-total-height: 136px;
$sm-icon-like-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-like: (120px, 112px, -120px, -112px, 12px, 11px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_like', );
$sm-signature-name: 'sm-signature';
$sm-signature-x: 0px;
$sm-signature-y: 96px;
$sm-signature-offset-x: 0px;
$sm-signature-offset-y: -96px;
$sm-signature-width: 94px;
$sm-signature-height: 10px;
$sm-signature-total-width: 140px;
$sm-signature-total-height: 136px;
$sm-signature-image: '/assets/images/mobile/sprites_mobile.png';
$sm-signature: (0px, 96px, 0px, -96px, 94px, 10px, 140px, 136px, '/assets/images/mobile/sprites_mobile.png', 'sm-signature', );
$sm-bg-nav01-2x-name: 'sm-bg_nav01@2x';
$sm-bg-nav01-2x-x: 0px;
$sm-bg-nav01-2x-y: 100px;
$sm-bg-nav01-2x-offset-x: 0px;
$sm-bg-nav01-2x-offset-y: -100px;
$sm-bg-nav01-2x-width: 80px;
$sm-bg-nav01-2x-height: 80px;
$sm-bg-nav01-2x-total-width: 280px;
$sm-bg-nav01-2x-total-height: 272px;
$sm-bg-nav01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-bg-nav01-2x: (0px, 100px, 0px, -100px, 80px, 80px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-bg_nav01@2x', );
$sm-bg-nav02-2x-name: 'sm-bg_nav02@2x';
$sm-bg-nav02-2x-x: 200px;
$sm-bg-nav02-2x-y: 0px;
$sm-bg-nav02-2x-offset-x: -200px;
$sm-bg-nav02-2x-offset-y: 0px;
$sm-bg-nav02-2x-width: 80px;
$sm-bg-nav02-2x-height: 80px;
$sm-bg-nav02-2x-total-width: 280px;
$sm-bg-nav02-2x-total-height: 272px;
$sm-bg-nav02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-bg-nav02-2x: (200px, 0px, -200px, 0px, 80px, 80px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-bg_nav02@2x', );
$sm-bg-nav03-2x-name: 'sm-bg_nav03@2x';
$sm-bg-nav03-2x-x: 92px;
$sm-bg-nav03-2x-y: 100px;
$sm-bg-nav03-2x-offset-x: -92px;
$sm-bg-nav03-2x-offset-y: -100px;
$sm-bg-nav03-2x-width: 80px;
$sm-bg-nav03-2x-height: 80px;
$sm-bg-nav03-2x-total-width: 280px;
$sm-bg-nav03-2x-total-height: 272px;
$sm-bg-nav03-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-bg-nav03-2x: (92px, 100px, -92px, -100px, 80px, 80px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-bg_nav03@2x', );
$sm-btn-back-2x-name: 'sm-btn_back@2x';
$sm-btn-back-2x-x: 0px;
$sm-btn-back-2x-y: 0px;
$sm-btn-back-2x-offset-x: 0px;
$sm-btn-back-2x-offset-y: 0px;
$sm-btn-back-2x-width: 88px;
$sm-btn-back-2x-height: 88px;
$sm-btn-back-2x-total-width: 280px;
$sm-btn-back-2x-total-height: 272px;
$sm-btn-back-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-back-2x: (0px, 0px, 0px, 0px, 88px, 88px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_back@2x', );
$sm-btn-close-2x-name: 'sm-btn_close@2x';
$sm-btn-close-2x-x: 100px;
$sm-btn-close-2x-y: 0px;
$sm-btn-close-2x-offset-x: -100px;
$sm-btn-close-2x-offset-y: 0px;
$sm-btn-close-2x-width: 88px;
$sm-btn-close-2x-height: 88px;
$sm-btn-close-2x-total-width: 280px;
$sm-btn-close-2x-total-height: 272px;
$sm-btn-close-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-close-2x: (100px, 0px, -100px, 0px, 88px, 88px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_close@2x', );
$sm-btn-next-2x-name: 'sm-btn_next@2x';
$sm-btn-next-2x-x: 120px;
$sm-btn-next-2x-y: 224px;
$sm-btn-next-2x-offset-x: -120px;
$sm-btn-next-2x-offset-y: -224px;
$sm-btn-next-2x-width: 48px;
$sm-btn-next-2x-height: 48px;
$sm-btn-next-2x-total-width: 280px;
$sm-btn-next-2x-total-height: 272px;
$sm-btn-next-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-next-2x: (120px, 224px, -120px, -224px, 48px, 48px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_next@2x', );
$sm-btn-next-disabled-2x-name: 'sm-btn_next_disabled@2x';
$sm-btn-next-disabled-2x-x: 180px;
$sm-btn-next-disabled-2x-y: 224px;
$sm-btn-next-disabled-2x-offset-x: -180px;
$sm-btn-next-disabled-2x-offset-y: -224px;
$sm-btn-next-disabled-2x-width: 48px;
$sm-btn-next-disabled-2x-height: 48px;
$sm-btn-next-disabled-2x-total-width: 280px;
$sm-btn-next-disabled-2x-total-height: 272px;
$sm-btn-next-disabled-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-next-disabled-2x: (180px, 224px, -180px, -224px, 48px, 48px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_next_disabled@2x', );
$sm-btn-prev-2x-name: 'sm-btn_prev@2x';
$sm-btn-prev-2x-x: 0px;
$sm-btn-prev-2x-y: 224px;
$sm-btn-prev-2x-offset-x: 0px;
$sm-btn-prev-2x-offset-y: -224px;
$sm-btn-prev-2x-width: 48px;
$sm-btn-prev-2x-height: 48px;
$sm-btn-prev-2x-total-width: 280px;
$sm-btn-prev-2x-total-height: 272px;
$sm-btn-prev-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-prev-2x: (0px, 224px, 0px, -224px, 48px, 48px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_prev@2x', );
$sm-btn-prev-disabled-2x-name: 'sm-btn_prev_disabled@2x';
$sm-btn-prev-disabled-2x-x: 60px;
$sm-btn-prev-disabled-2x-y: 224px;
$sm-btn-prev-disabled-2x-offset-x: -60px;
$sm-btn-prev-disabled-2x-offset-y: -224px;
$sm-btn-prev-disabled-2x-width: 48px;
$sm-btn-prev-disabled-2x-height: 48px;
$sm-btn-prev-disabled-2x-total-width: 280px;
$sm-btn-prev-disabled-2x-total-height: 272px;
$sm-btn-prev-disabled-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-prev-disabled-2x: (60px, 224px, -60px, -224px, 48px, 48px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_prev_disabled@2x', );
$sm-btn-top-2x-name: 'sm-btn_top@2x';
$sm-btn-top-2x-x: 200px;
$sm-btn-top-2x-y: 92px;
$sm-btn-top-2x-offset-x: -200px;
$sm-btn-top-2x-offset-y: -92px;
$sm-btn-top-2x-width: 68px;
$sm-btn-top-2x-height: 68px;
$sm-btn-top-2x-total-width: 280px;
$sm-btn-top-2x-total-height: 272px;
$sm-btn-top-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-top-2x: (200px, 92px, -200px, -92px, 68px, 68px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_top@2x', );
$sm-icon-like-2x-name: 'sm-icon_like@2x';
$sm-icon-like-2x-x: 240px;
$sm-icon-like-2x-y: 224px;
$sm-icon-like-2x-offset-x: -240px;
$sm-icon-like-2x-offset-y: -224px;
$sm-icon-like-2x-width: 24px;
$sm-icon-like-2x-height: 22px;
$sm-icon-like-2x-total-width: 280px;
$sm-icon-like-2x-total-height: 272px;
$sm-icon-like-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-like-2x: (240px, 224px, -240px, -224px, 24px, 22px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_like@2x', );
$sm-signature-2x-name: 'sm-signature@2x';
$sm-signature-2x-x: 0px;
$sm-signature-2x-y: 192px;
$sm-signature-2x-offset-x: 0px;
$sm-signature-2x-offset-y: -192px;
$sm-signature-2x-width: 188px;
$sm-signature-2x-height: 20px;
$sm-signature-2x-total-width: 280px;
$sm-signature-2x-total-height: 272px;
$sm-signature-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-signature-2x: (0px, 192px, 0px, -192px, 188px, 20px, 280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-signature@2x', );
$spritesheet-width: 140px;
$spritesheet-height: 136px;
$spritesheet-image: '/assets/images/mobile/sprites_mobile.png';
$spritesheet-sprites: ($sm-bg-nav01, $sm-bg-nav02, $sm-bg-nav03, $sm-btn-back, $sm-btn-close, $sm-btn-next, $sm-btn-next-disabled, $sm-btn-prev, $sm-btn-prev-disabled, $sm-btn-top, $sm-icon-like, $sm-signature, );
$spritesheet: (140px, 136px, '/assets/images/mobile/sprites_mobile.png', $spritesheet-sprites, );
$retina-spritesheet-width: 280px;
$retina-spritesheet-height: 272px;
$retina-spritesheet-image: '/assets/images/mobile/sprites_mobile@2x.png';
$retina-spritesheet-sprites: ($sm-bg-nav01-2x, $sm-bg-nav02-2x, $sm-bg-nav03-2x, $sm-btn-back-2x, $sm-btn-close-2x, $sm-btn-next-2x, $sm-btn-next-disabled-2x, $sm-btn-prev-2x, $sm-btn-prev-disabled-2x, $sm-btn-top-2x, $sm-icon-like-2x, $sm-signature-2x, );
$retina-spritesheet: (280px, 272px, '/assets/images/mobile/sprites_mobile@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-bg-nav01-group-name: 'sm-bg_nav01';
$sm-bg-nav01-group: ('sm-bg_nav01', $sm-bg-nav01, $sm-bg-nav01-2x, );
$sm-bg-nav02-group-name: 'sm-bg_nav02';
$sm-bg-nav02-group: ('sm-bg_nav02', $sm-bg-nav02, $sm-bg-nav02-2x, );
$sm-bg-nav03-group-name: 'sm-bg_nav03';
$sm-bg-nav03-group: ('sm-bg_nav03', $sm-bg-nav03, $sm-bg-nav03-2x, );
$sm-btn-back-group-name: 'sm-btn_back';
$sm-btn-back-group: ('sm-btn_back', $sm-btn-back, $sm-btn-back-2x, );
$sm-btn-close-group-name: 'sm-btn_close';
$sm-btn-close-group: ('sm-btn_close', $sm-btn-close, $sm-btn-close-2x, );
$sm-btn-next-group-name: 'sm-btn_next';
$sm-btn-next-group: ('sm-btn_next', $sm-btn-next, $sm-btn-next-2x, );
$sm-btn-next-disabled-group-name: 'sm-btn_next_disabled';
$sm-btn-next-disabled-group: ('sm-btn_next_disabled', $sm-btn-next-disabled, $sm-btn-next-disabled-2x, );
$sm-btn-prev-group-name: 'sm-btn_prev';
$sm-btn-prev-group: ('sm-btn_prev', $sm-btn-prev, $sm-btn-prev-2x, );
$sm-btn-prev-disabled-group-name: 'sm-btn_prev_disabled';
$sm-btn-prev-disabled-group: ('sm-btn_prev_disabled', $sm-btn-prev-disabled, $sm-btn-prev-disabled-2x, );
$sm-btn-top-group-name: 'sm-btn_top';
$sm-btn-top-group: ('sm-btn_top', $sm-btn-top, $sm-btn-top-2x, );
$sm-icon-like-group-name: 'sm-icon_like';
$sm-icon-like-group: ('sm-icon_like', $sm-icon-like, $sm-icon-like-2x, );
$sm-signature-group-name: 'sm-signature';
$sm-signature-group: ('sm-signature', $sm-signature, $sm-signature-2x, );
$retina-groups: ($sm-bg-nav01-group, $sm-bg-nav02-group, $sm-bg-nav03-group, $sm-btn-back-group, $sm-btn-close-group, $sm-btn-next-group, $sm-btn-next-disabled-group, $sm-btn-prev-group, $sm-btn-prev-disabled-group, $sm-btn-top-group, $sm-icon-like-group, $sm-signature-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
