@import url(lgsmha.css);
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  min-width: 1200px;
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 1200px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "LGSmHa", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "LGSmHa", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #4c4c4c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c; }

:-ms-input-placeholder {
  color: #4c4c4c; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * mixin
 */
/**
 * import
 */
/* FOOTER */
.footer {
  clear: both;
  margin: 0 auto;
  min-width: 1200px;
  background-color: #111; }
  .footer > .inner {
    padding: 27px 100px;
    font-size: 14px;
    color: #888;
    line-height: 24px; }
    .footer > .inner small {
      display: block;
      margin-top: 5px; }

/* CONTENTS */
article.contents {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px;
  min-width: 1000px;
  max-width: 1600px; }

.header {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1800px;
  min-width: 1200px; }
  .header .btn-lg-signature {
    display: block;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -86px -252px;
    width: 144px;
    height: 14px; }

body.main .header figure {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-right: 360px;
  width: 100%; }
  body.main .header figure figcaption {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 360px;
    background-color: #191919; }

body.main .header .photo {
  display: block;
  position: relative;
  width: 100%; }
  body.main .header .photo img {
    width: 100%; }
  body.main .header .photo .title {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -96px;
    height: 192px;
    width: 100%;
    font-size: 70px;
    color: #fffffe;
    line-height: 1em;
    text-align: center; }
    body.main .header .photo .title small {
      font-size: 36px; }

body.main .header .nav {
  height: 100%; }
  body.main .header .nav .list-menus {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    /* border-top: 1px solid #050505; */ }
    body.main .header .nav .list-menus > li {
      border-top: 1px solid #3b3b3b;
      border-bottom: 1px solid #050505; }
      body.main .header .nav .list-menus > li.top {
        border-top: 0px;
        padding: 0 0 10px 10px;
        font-size: 16px;
        line-height: 24px;
        color: #fff; }
        body.main .header .nav .list-menus > li.top small {
          font-size: 12px;
          line-height: 18px; }
      body.main .header .nav .list-menus > li.last {
        border-bottom: 0px; }
      body.main .header .nav .list-menus > li.none {
        border: 0px; }
      body.main .header .nav .list-menus > li a {
        display: block;
        position: relative;
        padding: 20px 0 10px 120px;
        min-height: 70px;
        font-size: 16px;
        color: #bbb;
        line-height: 29px; }
        body.main .header .nav .list-menus > li a:before {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          left: 15px;
          height: 80px;
          width: 80px;
          background-color: 100%; }
        body.main .header .nav .list-menus > li a p {
          font-size: 12px;
          color: #777; }
        body.main .header .nav .list-menus > li a.event {
          padding: 0 0 15px 15px;
          height: 200px;
          text-align: left;
          text-indent: -9999px; }
          body.main .header .nav .list-menus > li a.event:before {
            content: '';
            position: static;
            background-image: url(/assets/images/sprites.png);
            background-position: 0px 0px;
            width: 290px;
            height: 200px; }
        body.main .header .nav .list-menus > li a.gallery:before {
          background-image: url(/assets/images/sprites.png);
          background-position: 0px -252px;
          width: 80px;
          height: 80px; }
        body.main .header .nav .list-menus > li a.episode:before {
          background-image: url(/assets/images/sprites.png);
          background-position: -296px -86px;
          width: 80px;
          height: 80px; }
    @media only screen and (min-width: 1201px) {
      body.main .header .nav .list-menus > li {
        border-top: 1px solid #3b3b3b;
        border-bottom: 1px solid #050505; }
        body.main .header .nav .list-menus > li.top {
          border-top: 0px;
          padding: 0 0 23px 15px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.05em; }
          body.main .header .nav .list-menus > li.top small {
            font-size: 14px;
            line-height: 25px; }
        body.main .header .nav .list-menus > li a {
          padding: 30px 0 20px 120px; }
          body.main .header .nav .list-menus > li a:before {
            top: 20px; } }

body.main .grid {
  overflow: hidden;
  margin: 0 -0.310559006211%; }
  body.main .grid .grid-item {
    display: block;
    position: relative;
    float: left;
    margin: 0.310559006211%;
    width: 21.739130434783%; }
    body.main .grid .grid-item .content {
      display: block; }
    body.main .grid .grid-item img {
      max-height: 100%;
      max-width: 100%; }
    body.main .grid .grid-item.line-breaker {
      clear: both; }
    body.main .grid .grid-item.category {
      color: #fff;
      text-align: center;
      background-position: center center;
      background-size: 100%; }
      body.main .grid .grid-item.category .content .title {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        width: 100%;
        font-size: 22px;
        color: #fff;
        text-align: center;
        line-height: 1.3em;
        transition: font-size 0.3s; }
        body.main .grid .grid-item.category .content .title small {
          font-size: 14px;
          line-height: 1.3em;
          transition: font-size 0.3s; }
        @media only screen and (min-width: 1201px) {
          body.main .grid .grid-item.category .content .title {
            margin-top: -17px;
            font-size: 26px;
            transition: font-size 0.3s; }
            body.main .grid .grid-item.category .content .title small {
              font-size: 18px;
              transition: font-size 0.3s; } }
    body.main .grid .grid-item .content.aspect-620 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-620:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.45161%; }
      body.main .grid .grid-item .content.aspect-620 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-610 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-610:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 57.37705%; }
      body.main .grid .grid-item .content.aspect-610 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-590 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-590:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 59.32203%; }
      body.main .grid .grid-item .content.aspect-590 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-500 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-500:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 70%; }
      body.main .grid .grid-item .content.aspect-500 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-500-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-500-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 60%; }
      body.main .grid .grid-item .content.aspect-500-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-490 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-490:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 71.42857%; }
      body.main .grid .grid-item .content.aspect-490 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-490-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-490-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 61.22449%; }
      body.main .grid .grid-item .content.aspect-490-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-480 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-480:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 72.91667%; }
      body.main .grid .grid-item .content.aspect-480 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-480-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-480-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 62.5%; }
      body.main .grid .grid-item .content.aspect-480-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-470 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-470:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 74.46809%; }
      body.main .grid .grid-item .content.aspect-470 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-470-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-470-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 63.82979%; }
      body.main .grid .grid-item .content.aspect-470-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-430 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-430:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 81.39535%; }
      body.main .grid .grid-item .content.aspect-430 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-430-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-430-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 69.76744%; }
      body.main .grid .grid-item .content.aspect-430-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-400 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-400:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 87.5%; }
      body.main .grid .grid-item .content.aspect-400 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-350 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-350:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      body.main .grid .grid-item .content.aspect-350 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-350-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-350-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 85.71429%; }
      body.main .grid .grid-item .content.aspect-350-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-310 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-310:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 112.90323%; }
      body.main .grid .grid-item .content.aspect-310 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-310-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-310-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 96.77419%; }
      body.main .grid .grid-item .content.aspect-310-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 116.66667%; }
      body.main .grid .grid-item .content.aspect-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-300-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-300-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      body.main .grid .grid-item .content.aspect-300-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-280 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-280:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 125%; }
      body.main .grid .grid-item .content.aspect-280 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-280-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-280-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 107.14286%; }
      body.main .grid .grid-item .content.aspect-280-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-270 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-270:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 129.62963%; }
      body.main .grid .grid-item .content.aspect-270 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .content.aspect-270-300 {
      position: relative; }
      body.main .grid .grid-item .content.aspect-270-300:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 111.11111%; }
      body.main .grid .grid-item .content.aspect-270-300 > .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body.main .grid .grid-item .txt:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.5s ease-in-out; }
    body.main .grid .grid-item .txt p {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: 2;
      margin-top: -35px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      line-height: 33px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
      body.main .grid .grid-item .txt p small {
        font-size: 12px; }
    @media only screen and (min-width: 1201px) {
      body.main .grid .grid-item .txt p {
        font-size: 24px;
        line-height: 33px; }
        body.main .grid .grid-item .txt p small {
          font-size: 16px; } }
    body.main .grid .grid-item:hover .txt {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      body.main .grid .grid-item:hover .txt:before {
        content: '';
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out; }
      body.main .grid .grid-item:hover .txt p {
        opacity: 1;
        transition: opacity 0.3s ease-in-out; }

body.view .header figure {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-right: 360px;
  width: 100%; }
  body.view .header figure figcaption {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 360px;
    background-color: #191919; }

body.view .header .photo {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  background-size: cover; }
  body.view .header .photo img {
    max-height: 100%;
    max-width: 100%; }
  body.view .header .photo .btn-external-link {
    display: block;
    position: absolute;
    z-index: 1;
    text-indent: -9999px; }

body.view .header .detail {
  text-align: center; }
  body.view .header .detail .inner {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 20px; }
  body.view .header .detail .index {
    display: block;
    margin: 0 auto;
    font-family: 'Abel', san-serif;
    font-size: 70px;
    color: #fff;
    line-height: 1.3em; }
  body.view .header .detail .title {
    margin-top: 14px;
    font-size: 17px;
    color: #ffffff;
    line-height: 22px; }
  body.view .header .detail .hash {
    display: block;
    margin-top: 20px;
    border-top: 1px solid #080808;
    border-bottom: 1px solid #474747; }
    body.view .header .detail .hash dt {
      display: none;
      padding: 21px 0 11px 0;
      font-size: 15px;
      color: #ffffff;
      border-top: 1px solid #474747;
      line-height: 1.3em; }
    body.view .header .detail .hash dd {
      display: block;
      padding: 21px 15px 28px 15px;
      font-size: 10px;
      color: #919191;
      line-heightt: 17px;
      text-align: left;
      word-breka: keep-all; }
      body.view .header .detail .hash dd .like {
        display: block;
        margin: 25px auto 0;
        font-size: 11px;
        color: #ffffff;
        text-align: center; }
        body.view .header .detail .hash dd .like:before {
          content: '';
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
          background-image: url(/assets/images/sprites.png);
          background-position: -296px -218px;
          width: 22px;
          height: 19px; }
  body.view .header .detail .btns {
    padding-top: 28px;
    padding-bottom: 50px; }
    body.view .header .detail .btns .btn-prev {
      display: inline-block;
      margin: 0 3px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -176px -206px;
      width: 40px;
      height: 40px; }
      body.view .header .detail .btns .btn-prev.disabled {
        background-image: url(/assets/images/sprites.png);
        background-position: -222px -206px;
        width: 40px;
        height: 40px; }
    body.view .header .detail .btns .btn-next {
      display: inline-block;
      margin: 0 3px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -296px -172px;
      width: 40px;
      height: 40px; }
      body.view .header .detail .btns .btn-next.disabled {
        background-image: url(/assets/images/sprites.png);
        background-position: -86px -272px;
        width: 40px;
        height: 40px; }
    body.view .header .detail .btns .btn-main {
      display: inline-block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -206px;
      width: 170px;
      height: 40px; }
  @media only screen and (min-width: 1201px) {
    body.view .header .detail .index {
      font-size: 100px; }
    body.view .header .detail .title {
      margin-top: 20px;
      font-size: 24px;
      line-height: 32px; }
    body.view .header .detail .hash {
      margin-top: 28px; }
      body.view .header .detail .hash dt {
        padding: 30px 0 15px 0;
        font-size: 22px; }
      body.view .header .detail .hash dd {
        padding: 30px 15px 40px 15px;
        font-size: 14px;
        line-heightt: 24px; }
        body.view .header .detail .hash dd .like {
          margin-top: 35px;
          font-size: 16px; }
    body.view .header .detail .btns {
      padding-top: 40px;
      padding-bottom: 50px; } }

body.view .contents {
  width: 1200px; }
  body.view .contents .message {
    text-align: center; }
    body.view .contents .message .title {
      font-size: 48px;
      color: #000;
      line-height: 1.3em; }
    body.view .contents .message .hash {
      margin-top: 10px;
      font-size: 24px;
      color: #000;
      line-height: 1.3em; }
      body.view .contents .message .hash em {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        color: #d3230c; }
  body.view .contents .tictalk {
    margin-top: 33px;
    padding: 35px 50px;
    border: 45px solid #484848;
    background-color: #fff; }

.popup-application {
  margin: 0 auto;
  padding: 70px 40px 100px 40px;
  min-width: 1120px;
  width: 1120px;
  color: #fff;
  background-color: #3a3a3a; }
  .popup-application .title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    text-align: center; }
  .popup-application .basic-info {
    margin-top: 50px;
    padding: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #343332; }
    .popup-application .basic-info label {
      padding-right: 30px; }
      .popup-application .basic-info label.txt-phone {
        margin-left: 260px; }
    .popup-application .basic-info input[type=text] {
      height: 36px;
      width: 128px;
      font-size: 16px;
      color: #000;
      line-height: 36px;
      vertical-align: middle;
      text-align: center;
      border: 0px;
      border-radius: 3px;
      background-color: #fff; }
  .popup-application .agreements .txt-agreement {
    display: block;
    margin-top: 50px;
    font-size: 22px;
    color: #fff; }
  .popup-application .agreements .list-agreement {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #2c2b2a;
    border-right: 1px soli #2c2b2a;
    border-left: 1px solid #2c2b2a; }
    .popup-application .agreements .list-agreement tr {
      border-bottom: 1px solid #2c2b2a; }
    .popup-application .agreements .list-agreement th {
      width: 258px;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      line-height: 45px;
      background-color: #373635; }
    .popup-application .agreements .list-agreement td {
      padding-left: 30px;
      font-size: 16px;
      color: #c4c4c4;
      background-color: #494949; }
  .popup-application .agreements .message {
    margin-top: 15px;
    font-size: 14px;
    color: #c4c4c4; }
  .popup-application .agreements .radios {
    margin-top: 25px;
    padding: 0 25px 0 0;
    text-align: right;
    background-color: #353535; }
    .popup-application .agreements .radios input[type=radio] {
      display: inline-block;
      vertical-align: middle; }
      .popup-application .agreements .radios input[type=radio] + label {
        display: inline-block;
        padding: 0 15px 0 5px;
        font-size: 14px;
        color: #fff;
        line-height: 50px; }
  .popup-application .btn-application {
    display: block;
    margin: 50px auto 0;
    height: 60px;
    width: 230px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    background-color: #e64f3c; }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 630px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -342px -172px;
    width: 31px;
    height: 31px; }

.mfp-wrap {
  overflow-x: auto !important; }

.popup {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 1200px; }
  .popup .mfp-close {
    display: block;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: 420px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -342px -172px;
    width: 31px;
    height: 31px; }
  .popup.event .mfp-close {
    top: 10px;
    margin-left: 610px; }
  .popup.event .content {
    position: relative;
    margin: 0 auto;
    height: 1007px;
    width: 1200px;
    background: url("/assets/images/popup02.png") center top no-repeat; }
    .popup.event .content * {
      display: none; }
    .popup.event .content .btn-submit {
      display: block;
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -135px;
      width: 270px; }
  .popup.event .guide {
    overflow: hidden;
    padding: 35px 50px;
    background-color: #1e1e1e; }
    .popup.event .guide .title {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: normal;
      color: #c9c9c9;
      line-height: 1.3em; }
    .popup.event .guide .list-guide {
      float: left;
      width: 500px; }
      .popup.event .guide .list-guide > li {
        position: relative;
        padding: 0 0 0 10px;
        font-size: 14px;
        color: #888;
        line-height: 25px; }
        .popup.event .guide .list-guide > li:before {
          content: '-';
          display: block;
          position: absolute;
          top: 0;
          left: 0; }
      .popup.event .guide .list-guide + .list-guide {
        margin-left: 40px;
        width: 520px; }
  .popup.intro {
    padding-top: 90px;
    padding-bottom: 90px;
    background: url("/assets/images/bg_popup01.jpg") center top no-repeat; }
    .popup.intro .content {
      margin: 0 auto;
      height: 1735px;
      width: 820px;
      background: url("/assets/images/popup01.png") center top no-repeat; }
      .popup.intro .content h2, .popup.intro .content p, .popup.intro .content .photographer {
        display: none; }
  .popup.episode .mfp-close {
    top: 10px;
    margin-left: 610px; }
  .popup.episode .content * {
    display: none; }
  .popup.episode .content .episode-content {
    display: block;
    padding: 60px 60px 85px 60px;
    background-color: #3a3a3a; }
    .popup.episode .content .episode-content .list-episode {
      display: block;
      height: 2470px;
      width: 1080px;
      background: url("/assets/images/popup04.png") center top no-repeat; }
  .popup.episode .content .btn-submit {
    display: block; }
  .popup .btn-submit {
    display: block;
    margin: 50px auto 0;
    width: 270px;
    font-size: 20px;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    background-color: #e64f3c; }
