@import url(lgsmha.css);
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  min-width: 320px;
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "LGSmHa", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "LGSmHa", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #4c4c4c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c; }

:-ms-input-placeholder {
  color: #4c4c4c; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/**
 * z-index
**/
/**
 * mixin
 */
/**
 * import
 */
/* FOOTER */
.footer {
  margin: 0 auto;
  min-width: 320px;
  height: 120px;
  background-color: #111; }
  .footer > .inner {
    padding: 15px 0 0 0;
    font-size: 10px;
    color: #888;
    text-align: center;
    line-height: 17px; }
    .footer > .inner small {
      display: block;
      margin-top: 5px; }

/* CONTENTS */
article.contents {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2.34375%;
  min-width: 320px; }

.header {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px; }
  .header .btn-lg-signature {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -96px;
    width: 94px;
    height: 10px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .header .btn-lg-signature {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 140px 138px; } }

body.main .header figure .photo {
  position: relative;
  background-color: #999; }
  body.main .header figure .photo img {
    width: 100%; }
  body.main .header figure .photo .title {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    height: 64px;
    width: 100%;
    font-size: 30px;
    color: #fffffe;
    line-height: 1em;
    text-align: center; }
    body.main .header figure .photo .title small {
      font-size: 15px; }

body.main .header figure figcaption {
  background-color: #191919; }
  body.main .header figure figcaption .list-menus {
    display: block;
    overflow: hidden;
    padding: 15px 3.125%; }
    body.main .header figure figcaption .list-menus > li {
      display: block;
      box-sizing: border-box;
      float: left;
      padding: 15px 5px 0 5px;
      width: 50%;
      border-top: 1px solid #3b3b3b; }
      body.main .header figure figcaption .list-menus > li.top {
        padding: 0 0 10px 0;
        width: 100%;
        font-size: 13px;
        color: #bbb;
        text-align: center;
        border-top: 0px;
        border-bottom: 1px solid #191919; }
        body.main .header figure figcaption .list-menus > li.top small {
          font-size: 10px;
          line-height: 15px; }
          body.main .header figure figcaption .list-menus > li.top small .lg-signature {
            display: inline-block;
            margin-top: -2px;
            text-indent: -9999px;
            vertical-align: middle;
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: 0px -112px;
            width: 83px;
            height: 9px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              body.main .header figure figcaption .list-menus > li.top small .lg-signature {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 140px 138px; } }
      body.main .header figure figcaption .list-menus > li.last {
        clear: both;
        width: 100%;
        border: 0px; }
      body.main .header figure figcaption .list-menus > li a {
        display: block;
        position: relative;
        padding: 8px 5px 0 50px;
        min-height: 32px;
        font-size: 10px;
        color: #fff;
        line-height: 13px;
        letter-spacing: -0.05em; }
        body.main .header figure figcaption .list-menus > li a:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 40px;
          width: 40px; }
        body.main .header figure figcaption .list-menus > li a p {
          margin-top: 3px;
          font-size: 9px;
          color: #777; }
        body.main .header figure figcaption .list-menus > li a.gallery:before {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -46px -50px;
          width: 40px;
          height: 40px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            body.main .header figure figcaption .list-menus > li a.gallery:before {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 140px 138px; } }
        body.main .header figure figcaption .list-menus > li a.episode:before {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -100px 0px;
          width: 40px;
          height: 40px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            body.main .header figure figcaption .list-menus > li a.episode:before {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 140px 138px; } }
        body.main .header figure figcaption .list-menus > li a.event {
          padding: 0;
          text-align: center; }
          body.main .header figure figcaption .list-menus > li a.event:before {
            content: none; }
          body.main .header figure figcaption .list-menus > li a.event .aspect {
            position: relative; }
            body.main .header figure figcaption .list-menus > li a.event .aspect:before {
              display: block;
              content: "";
              width: 100%;
              padding-top: 34.48276%; }
            body.main .header figure figcaption .list-menus > li a.event .aspect > .inner {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0; }
            body.main .header figure figcaption .list-menus > li a.event .aspect .inner {
              background: url("/assets/images/mobile/event_banner.png") center top no-repeat;
              background-size: 100%; }

body.main .grid {
  overflow: hidden; }
  body.main .grid .grid-item {
    display: block;
    position: relative;
    float: left;
    margin: 0 0.819672131148% 1.311475409836%;
    width: 48.360655737705%; }
    body.main .grid .grid-item .content {
      display: block; }
      body.main .grid .grid-item .content.aspect-195 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-195:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 66.10169%; }
        body.main .grid .grid-item .content.aspect-195 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-205 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-205:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 69.49153%; }
        body.main .grid .grid-item .content.aspect-205 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-245 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-245:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 83.05085%; }
        body.main .grid .grid-item .content.aspect-245 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-295 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-295:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 100%; }
        body.main .grid .grid-item .content.aspect-295 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-325 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-325:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 110.16949%; }
        body.main .grid .grid-item .content.aspect-325 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-395 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-395:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 133.89831%; }
        body.main .grid .grid-item .content.aspect-395 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-425 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-425:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 144.0678%; }
        body.main .grid .grid-item .content.aspect-425 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content.aspect-475 {
        position: relative; }
        body.main .grid .grid-item .content.aspect-475:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 161.01695%; }
        body.main .grid .grid-item .content.aspect-475 > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      body.main .grid .grid-item .content img {
        width: 100%; }
      body.main .grid .grid-item .content .txt {
        display: none; }
    body.main .grid .grid-item.category {
      color: #fff;
      text-align: center;
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      body.main .grid .grid-item.category .content {
        position: relative; }
        body.main .grid .grid-item.category .content:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 83.05085%; }
        body.main .grid .grid-item.category .content > .inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        body.main .grid .grid-item.category .content .title {
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          width: 100%;
          font-size: 15px;
          color: #fff;
          text-align: center;
          line-height: 1.3em;
          transition: font-size 0.3s; }
          body.main .grid .grid-item.category .content .title small {
            font-size: 12px;
            line-height: 1.3em;
            transition: font-size 0.3s; }
          body.main .grid .grid-item.category .content .title.vam {
            margin-top: -19px; }

body.view .header .navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 45px;
  background-color: #fff; }
  body.view .header .navigation-bar .btn-back {
    display: block;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px 0px;
    width: 44px;
    height: 44px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      body.view .header .navigation-bar .btn-back {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 140px 138px; } }
  body.view .header .navigation-bar .title {
    font-size: 16px;
    color: #000;
    line-height: 45px;
    text-align: center; }

body.view .header figure {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-top: 45px;
  width: 100%; }
  body.view .header figure figcaption {
    display: block;
    background-color: #272727; }

body.view .header .photo {
  display: block;
  position: relative;
  width: 100%; }
  body.view .header .photo img {
    width: 100%; }

body.view .header .detail {
  padding: 0 3.125%; }
  body.view .header .detail .category {
    padding: 0 5px 0 10px;
    height: 47px;
    text-align: left;
    border-bottom: 1px solid #080808; }
    body.view .header .detail .category .thumb {
      display: inline-block;
      margin-right: 10px;
      height: 32px;
      width: 32px;
      vertical-align: middle; }
    body.view .header .detail .category .title {
      display: inline-block;
      font-size: 11px;
      color: #ffffff;
      line-height: 47px; }
    body.view .header .detail .category .like {
      display: inline-block;
      float: right;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 47px; }
      body.view .header .detail .category .like:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: 0px -127px;
        width: 12px;
        height: 11px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          body.view .header .detail .category .like:before {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 140px 138px; } }
  body.view .header .detail .hash {
    display: block;
    position: relative;
    padding: 15px 0 17px 55px;
    border-top: 1px solid #474747; }
    body.view .header .detail .hash dt {
      display: block;
      padding: 0;
      font-size: 15px;
      color: #ffffff;
      line-height: 1.3em; }
      body.view .header .detail .hash dt .index {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: 'Abel', san-serif;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 1.3em; }
    body.view .header .detail .hash dd {
      display: block;
      padding: 0px 0 0 0;
      font-size: 10px;
      color: #919191;
      line-heightt: 14px; }

body.view .contents {
  padding: 30px 3.125% 30px; }
  body.view .contents .tictalk {
    position: relative;
    padding: 70px 15px 15px;
    border: 1px solid #b6b6b6; }
    body.view .contents .tictalk .message {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 10px 0 10px;
      font-size: 12px;
      color: #ffffff;
      text-align: center;
      letter-spacing: -0.05em;
      background-color: #707070; }
      body.view .contents .tictalk .message em {
        display: block;
        font-size: 10px; }

.btns {
  padding-top: 35px; }

.btn-top {
  display: block;
  float: right;
  height: 34px;
  width: 34px;
  text-indent: -9999px;
  background-image: url(/assets/images/mobile/sprites_mobile.png);
  background-position: -100px -46px;
  width: 34px;
  height: 34px;
  border: 1px solid #9d9d9d;
  background-color: #fff; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .btn-top {
      background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
      background-size: 140px 138px; } }
  .btn-top:after {
    content: '';
    display: block;
    clear: both; }

.popup-application {
  margin: 44px 3.125% 0;
  padding: 20px 15px 30px 15px;
  color: #fff;
  background-color: #3a3a3a; }
  .popup-application .title {
    font-size: 12px;
    font-weight: normal;
    line-height: 1em;
    text-align: center; }
  .popup-application .basic-info {
    margin-top: 15px;
    padding: 13px;
    font-size: 11px;
    color: #fff;
    background-color: #343332; }
    .popup-application .basic-info p {
      margin: 10px 0; }
    .popup-application .basic-info label {
      display: inline-block;
      padding-right: 15px;
      width: 50px;
      text-align: center; }
    .popup-application .basic-info input[type=text] {
      height: 22px;
      width: 45px;
      font-size: 12px;
      color: #000;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      border: 0px;
      border-radius: 3px;
      background-color: #fff; }
  .popup-application .agreements .txt-agreement {
    display: block;
    margin-top: 20px;
    font-size: 10px;
    color: #fff; }
  .popup-application .agreements .list-agreement {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #2c2b2a;
    border-right: 1px soli #2c2b2a;
    border-left: 1px solid #2c2b2a; }
    .popup-application .agreements .list-agreement tr {
      border-bottom: 1px solid #2c2b2a; }
    .popup-application .agreements .list-agreement th {
      width: 58px;
      font-size: 10px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      line-height: 25px;
      background-color: #373635; }
    .popup-application .agreements .list-agreement td {
      padding-left: 10px;
      font-size: 10px;
      color: #c4c4c4;
      line-height: 12px;
      background-color: #494949; }
  .popup-application .agreements .message {
    margin-top: 10px;
    font-size: 10px;
    color: #c4c4c4; }
  .popup-application .agreements .radios {
    margin-top: 10px;
    padding: 0 10px 0 0;
    text-align: right;
    background-color: #353535; }
    .popup-application .agreements .radios input[type=radio] {
      display: inline-block;
      vertical-align: middle; }
      .popup-application .agreements .radios input[type=radio] + label {
        display: inline-block;
        padding: 0 15px 0 0px;
        font-size: 10px;
        color: #fff;
        line-height: 33px;
        vertical-align: middle; }
  .popup-application .btn-application {
    display: block;
    margin: 20px auto 0;
    height: 35px;
    width: 115px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    background-color: #e64f3c; }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -50px 0px;
    width: 44px;
    height: 44px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 140px 138px; } }

.mfp-wrap {
  overflow-x: auto !important; }

.popup {
  box-sizing: border-box;
  margin: 0 auto;
  width: 300px; }
  .popup .mfp-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -50px 0px;
    width: 44px;
    height: 44px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 140px 138px; } }
  .popup.event .mfp-close {
    top: 10px;
    margin-left: 610px; }
  .popup.event .content {
    position: relative;
    margin: 0 auto;
    height: 608px;
    width: 300px;
    background: url("/assets/images/mobile/popup02.png") center top no-repeat;
    background-size: 100%; }
    .popup.event .content * {
      display: none; }
    .popup.event .content .btn-submit {
      display: block;
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -77px;
      width: 155px; }
  .popup.event .guide {
    overflow: hidden;
    padding: 20px 15px;
    background-color: #1e1e1e; }
    .popup.event .guide .title {
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: normal;
      color: #c9c9c9;
      line-height: 1.3em; }
    .popup.event .guide .list-guide {
      width: 100%; }
      .popup.event .guide .list-guide > li {
        position: relative;
        padding: 3px 0 0 7px;
        font-size: 10px;
        color: #888;
        line-height: 14px; }
        .popup.event .guide .list-guide > li:before {
          content: '-';
          display: block;
          position: absolute;
          top: 0;
          left: 0; }
  .popup.intro {
    padding-top: 25px;
    height: 966px;
    width: 300px;
    background: url("/assets/images/mobile/bg_popup01.jpg") center top no-repeat;
    background-size: 100%; }
    .popup.intro .content {
      margin: 0 auto;
      height: 861px;
      width: 250px;
      background: url("/assets/images/mobile/popup01.png") center top no-repeat;
      background-size: 100%; }
      .popup.intro .content h2, .popup.intro .content p {
        display: none; }
  .popup.episode .content * {
    display: none; }
  .popup.episode .content .episode-content {
    display: block;
    position: relative;
    height: 1975px;
    width: 300px;
    background: url("/assets/images/mobile/popup04.jpg") center top no-repeat;
    background-size: 100%; }
    .popup.episode .content .episode-content .btn-submit {
      display: block;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin: 0 0 0 -67px; }
  .popup .btn-submit {
    display: block;
    margin: 25px auto 0;
    width: 135px;
    font-size: 12px;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    background-color: #e64f3c; }
